<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>海南风险监测预警平台</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../plugins/jerichotab/jquery.jerichotab.css">
</head>

<body>
  <div class="wrap">
    <div class="header">
      <div class="logo"></div>
      <div class="header-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="输入企业">
          <span class="search-btn"></span>
        </div>
        <span class="clock-icon"></span>
        <span class="alarm-icon active"></span>
        <span class="date">2019年6月6日 星期四</span>
        <span class="user">甘素娟,您好~</span>
      </div>
    </div>
    <div class="main">
      <div class="left-side">
        <ul class="nav-list">
          <li class="active">
            <a href="##">
              <h3>首页</h3>
              <span>HOME</span>
            </a>
            <ul class="second-menu">
                <li>
                    <a href="##">二级页面</a>
                    <ul class="third-menu">
                      <li>
                        <a href="##">三级页面</a>
                        <ul class="four-menu">
                            <li>
                              <a href="##">四级页面</a>
                            </li>
                            <li>
                              <a href="##">四级页面</a>
                            </li>
                            <li>
                              <a href="##">四级页面</a>
                            </li>
                            <li>
                              <a href="##">四级页面</a>
                            </li>
                        </ul>
                      </li>
                      <li>
                        <a href="##">三级页面</a>
                      </li>
                      <li>
                        <a href="##">三级页面</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                      <a href="##">二级页面</a>
                  </li>
            </ul>
          </li>
          <li>
            <a href="##">
              <h3>数据报送</h3>
              <span>DATA dELIVERY</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>数据采集</h3>
              <span>DATA ACQUISITION</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>数据中心</h3>
              <span>DATA CENTER</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>风险处置</h3>
              <span>RISK DISPOSAL</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>风险监测</h3>
              <span>RISK MONITORING</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>风险预警</h3>
              <span>RISK EARLY WARNING</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>智能分析</h3>
              <span>INTELLIGEN ANALYSIS</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>风险建模</h3>
              <span>RISK MODELING</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>综合查询</h3>
              <span>COMPREHENSIVE QUERY</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>系统管理</h3>
              <span>SYSTEM MANAGEMENT</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>运维管理</h3>
              <span>MOCHA ITOM</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>文件交换</h3>
              <span>FILE EXCHANGE</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>登记备案</h3>
              <span>REGISTRATION AND FILING</span>
            </a>
          </li>
          <li>
            <a href="##">
              <h3>企业评级</h3>
              <span>ENTERPRISE RATING</span>
            </a>
          </li>
        </ul>
        
      </div>
      <div class="right-main"></div>
    </div>
  </div>
</body>
<script src="../js/jquery-1.8.3.min.js"></script>
<script src="../plugins/jerichotab/jquery.jerichotab.js"></script>
<script>
  $(function () {
    $(".second-menu li a").each(function(){
      if($(this).parent().children('ul').length<1){
        $(this).addClass("hovers");
      }
    })
    $(".second-menu li a").click(function(){
      $(this).removeClass("borderCss");
      $(this).siblings("ul").toggle();
      $(this).addClass("active").parent().siblings().find("a").removeClass("active");
      if($(this).parent().children('ul').length<1){
        $(this).parents('.second-menu').find('a').removeClass('borderCss')
        $(this).addClass("borderCss");
      }
    })
    $('.main').height($(window).height() - $('.header').outerHeight())
    $.fn.initJerichoTab({
      renderTo: '.right-main',
      uniqueId: 'myJerichoTab',
      contentCss: {
        'height': $('.right-main').height() - 40
      },
      tabs: [{
          title: '企业详情',
          closeable: false,
          iconImg: '',
          data: {
            dataType: 'iframe',
            dataLink: '企业详情.html'
          }
        },
        {
          title: '首页',
          closeable: true,
          iconImg: '',
          data: {
            dataType: 'iframe',
            dataLink: '首页.html'
          }
        }
      ]
    })
    // 左侧导航
    $('.nav-list > li').mouseenter(function() {
      $('.second-menu').hide();
      $(this).find('.second-menu').show()
    }).mouseleave(function(){
      $('.second-menu').hide();
    })
    $('document').on('click',function(e) {
      e.stopPropagation()
      $('.second-menu').hide();
    })
    // $('.second-menu').on('click',function(e) {
    //   e.stopPropagation()
    //   $(this).hide()
    // })
  })
</script>

</html>