<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="box-login">
        <div class="box-logo">
            <dl class="box-logo-list">
                <dt><img src="../imgs/logo-icon.png" alt=""></dt>
                <dd>海南省风险监测预警平台</dd>
            </dl>
        </div>
        <div class="platform-login">
            <p class="login-text">平台登录</p>
            <form class="form">
                <div class="form-group">
                    <label for="">用户名</label>
                    <input class="username" name="" type="text" placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <label for="">密码</label>
                    <input class="password" name="" type="text" placeholder="请输入密码">
                </div>
                <button class="btn">登录</button>
            </form>
        </div>
        <div class="box-bottom-text">北京中软融鑫计算机系统工程有限公司 版权所有</div>
    </div>
</body>
</html>