<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>关联分析</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/business-info.css">
</head>

<body>
  <div class="business-info-container">
    <div class="business-info__left">
      <div class="box lc">
        <div class="box-header">
          <h3 class="box-title">法律诉讼<span class="num">3</span></h3>
        </div>
        <div class="box-body">
          <table>
            <thead>
              <th width="50px">序号</th>
              <th width="30%">股东名称</th>
              <th width="20%">出资比例</th>
              <th width="20%">认缴出资额</th>
              <th width="20%">认缴出资日期</th>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>52%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
              </tr>
              <tr>
                <td>02</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>32%</td>
                <td>2000万人民币</td>
                <td>2017-01-01</td>
              </tr>
              <tr>
                <td>03</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>62%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>

      <!-- 开庭公告 -->
      <div class="box lc">
        <div class="box-header">
          <h3 class="box-title">开庭公告<span class="num">3</span></h3>
        </div>
        <div class="box-body">
          <table>
            <thead>
              <th width="50px">序号</th>
              <th width="30%">股东名称</th>
              <th width="20%">出资比例</th>
              <th width="20%">认缴出资额</th>
              <th width="20%">认缴出资日期</th>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>52%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
              </tr>
              <tr>
                <td>02</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>32%</td>
                <td>2000万人民币</td>
                <td>2017-01-01</td>
              </tr>
              <tr>
                <td>03</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>62%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
      <!-- /.开庭公告 -->

      <!-- 法院公告 -->
      <div class="box lc">
        <div class="box-header">
          <h3 class="box-title">法院公告<span class="num">3</span></h3>
        </div>
        <div class="box-body">
          <table>
            <thead>
              <th width="50px">序号</th>
              <th width="30%">被投资企业名称</th>
              <th width="15%">投资占比</th>
              <th width="15%">注册资本</th>
              <th width="15%">成立日期</th>
              <th width="15%">经营状态</th>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>52%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>
              <tr>
                <td>02</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>32%</td>
                <td>2000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>
              <tr>
                <td>03</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>62%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
      <!-- /.法院公告 -->

      <!-- 失联信息 -->
      <div class="box lc">
        <div class="box-header">
          <h3 class="box-title">失联信息<span class="num">3</span></h3>
        </div>
        <div class="box-body">
          <table>
            <thead>
              <th width="50px">序号</th>
              <th width="30%">被投资企业名称</th>
              <th width="15%">投资占比</th>
              <th width="15%">注册资本</th>
              <th width="15%">成立日期</th>
              <th width="15%">经营状态</th>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>52%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>
              <tr>
                <td>02</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>32%</td>
                <td>2000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>
              <tr>
                <td>03</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>62%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
      <!-- /.失联信息 -->

      <!-- 被执行人 -->
      <div class="box lc">
        <div class="box-header">
          <h3 class="box-title">被执行人<span class="num">3</span></h3>
        </div>
        <div class="box-body">
          <table>
            <thead>
              <th width="50px">序号</th>
              <th width="30%">被投资企业名称</th>
              <th width="15%">投资占比</th>
              <th width="15%">注册资本</th>
              <th width="15%">成立日期</th>
              <th width="15%">经营状态</th>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>52%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>
              <tr>
                <td>02</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>32%</td>
                <td>2000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>
              <tr>
                <td>03</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>62%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
      <!-- /.被执行人 -->

      <!-- 司法协助 -->
      <div class="box lc">
        <div class="box-header">
          <h3 class="box-title">司法协助<span class="num">3</span></h3>
        </div>
        <div class="box-body">
          <table>
            <thead>
              <th width="50px">序号</th>
              <th width="30%">被投资企业名称</th>
              <th width="15%">投资占比</th>
              <th width="15%">注册资本</th>
              <th width="15%">成立日期</th>
              <th width="15%">经营状态</th>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>52%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>
              <tr>
                <td>02</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>32%</td>
                <td>2000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>
              <tr>
                <td>03</td>
                <td>北京中软融鑫计算机系统工程有限公司</td>
                <td>62%</td>
                <td>1000万人民币</td>
                <td>2017-01-01</td>
                <td>存续</td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
      <!-- /.司法协助 -->
    </div>
    <div class="tip">
      <ol>
        <li class="active">法律诉讼</li>
        <li>开庭公告</li>
        <li>法院公告</li>
        <li>失联信息</li>
        <li>被执行人</li>
        <li>司法协助</li>
      </ol>
    </div>
  </div>
  <script src="../js/jquery-1.8.3.min.js"></script>
  <script src="../plugins/jqueryFloor.js"></script>
  <script src="../js/closeSecondMenu.js"></script>
  <script>
    $(function () {
      new Floor($(".lc"), $(".tip"));
    })
  </script>
</body>

</html>