<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="home-container">
        <div class="home-container-header clearfix">
            <div class="home-header-left">
                <div class="echarts" id="map-chearts" style="width:100%;height:562px;"></div>
            </div>
            <div class="home-header-right">
                <div class="header-right-top">
                    <div class="box-summarize-left">
                        <div class="box-title">
                            <h4>区域概况</h4>
                        </div>
                        <div class="box-content">
                            <img src="../imgs/icon.png" alt="">
                            <span class="num">10000</span>
                            <span>企业总数</span>
                        </div>
                    </div>
                    <div class="box-summarize-right">
                        <div class="box-title">
                            <ul class="summarize-list">
                                <li>海南省</li>
                                <li class="active">屯昌市</li>
                            </ul>
                        </div>
                        <div class="box-content">
                            <ul class="summarize-risk">
                                <li>
                                    <span class="conmpany-type risk1">高风险企业</span>
                                    <span>20家</span>
                                </li>
                                <li>
                                    <span class="conmpany-type risk2">中高风险企业</span>
                                    <span>30家</span>
                                </li>
                                <li>
                                    <span class="conmpany-type risk3">中风险企业</span>
                                    <span>30家</span>
                                </li>
                                <li>
                                    <span class="conmpany-type risk4">中低风险企业</span>
                                    <span>30家</span>
                                </li>
                                <li>
                                    <span class="conmpany-type risk5">低风险企业</span>
                                    <span>30家</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header-right-bottom">
                    <div class="box-header">
                        <h4>风险标签</h4>
                    </div>
                    <div class="box-content">
                        <ul class="box-content-list">
                            <li>网站打不开<span>(239)</span></li>
                            <li>疑似跑路<span>(29)</span></li>
                            <li>疑似虚假平台<span>(9)</span></li>
                            <li>疑似超范围经营<span>(3)</span></li>
                            <li>经营异常记录<span>(23)</span></li>
                            <li>行政处罚记录<span>(29)</span></li>
                            <li>ICP备案异常<span>(39)</span></li>
                            <li>欠税记录<span>(23)</span></li>
                            <li>法律诉讼记录<span>(29)</span></li>
                            <li>注册信息变更异常<span>(39)</span></li>
                            <li>疑似传销<span>(39)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-container-bottom">
            <div class="box lb">
                <div class="box-con">
                    <div class="box-header">
                        <h3 class="box-title">基本信息<span class="num"></span></h3>
                    </div>
                    <div class="box-body">
                        <div class="progress_bar">
                        <div class="pro-bar">
                            <smal class="progress_bar_title">
                            设备总数
                            <span class="progress_number">40%</span>
                            </smal>
                            <span class="progress-bar-inner" style="width: 40%;" data-value="500" data-percentage-value="500"></span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box cb">
                <div class="box-con">
                    <div class="box-header">
                        <h3 class="box-title">风险处置情况<span class="num"></span></h3>
                    </div>
                    <div class="box-body">
                        <div class="echarts" id="lineChart" style="width:100%;height:180px;"></div>
                    </div>
                </div>
            </div>
            <div class="box rb">
                <div class="box-con">
                    <div class="box-header">
                        <h3 class="box-title">数据采集总量<span class="num"></span></h3>
                    </div>
                    <div class="box-body">
                        <ul class="data-all">
                            <li>
                                <span class="conmpany-type risk1">工商数据:</span>
                                <span>1092837条</span>
                            </li>
                            <li>
                                <span class="conmpany-type risk2">司法数据：</span>
                                <span>57条</span>
                            </li>
                            <li>
                                <span class="conmpany-type risk3">经营数据：</span>
                                <span>2837条</span>
                            </li>
                            <li>
                                <span class="conmpany-type risk4">周边风险数据：</span>
                                <span>837条</span>
                            </li>
                            <li>
                                <span class="conmpany-type risk5">企业采集数据：</span>
                                <span>37条</span>
                            </li>
                            <li>
                                <span class="conmpany-type risk5">举报数据：</span>
                                <span>837条</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/lineChart.js"></script>
    <!-- <script src="../js/mapChart.js"></script> -->
</body>
</html>