<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="home-container">
        <div class="home-container-header clearfix">
            <div class="home-header-left">
                <div class="map-chart" id="map"></div>
            </div>
            <div class="home-header-right">
                <div class="header-right-top">
                    <div class="box-summarize-left">
                        <div class="box-title">
                            <h4>区域概况</h4>
                        </div>
                        <div class="box-content">
                            <img src="../imgs/icon.png" alt="">
                            <span>10000</span>
                            <span>企业总数</span>
                        </div>
                    </div>
                    <div class="box-summarize-right">

                    </div>
                </div>
                <div class="header-right-bottom">
                    <div class="box-header">
                        <h4>风险标签</h4>
                    </div>
                    <div class="box-content">
                        <ul class="box-content-list">
                            <li>网站打不开<span>(239)</span></li>
                            <li>疑似跑路<span>(29)</span></li>
                            <li>疑似虚假平台<span>(9)</span></li>
                            <li>疑似超范围经营<span>(3)</span></li>
                            <li>经营异常记录<span>(23)</span></li>
                            <li>行政处罚记录<span>(29)</span></li>
                            <li>ICP备案异常<span>(39)</span></li>
                            <li>欠税记录<span>(23)</span></li>
                            <li>法律诉讼记录<span>(29)</span></li>
                            <li>注册信息变更异常<span>(39)</span></li>
                            <li>疑似传销<span>(39)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/hn_zdy.js"></script>
    <script src="../js/map-chart.js"></script>
</body>
</html>